.product-list {
  margin: 3rem auto 150px;
  max-width: 100%;
}

.product-list-title {
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 1.5rem 0;
}

.product-list__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin: 0 1rem;
}

.product {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  text-align: center;
  transition: 0.1s;
}
.product:active {
  transform: scale(105%);
  transition: 0.1s;
}

.product img {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  transition: 0.2s;
}

.product:hover img {
  transform: scale(110%);
  transition: 0.2s;
}

.product__title {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: black;
}

.product__price {
  font-size: 1rem;
  font-weight: 400;
  color: #262626;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .product {
    background-color: #fff;
    border-radius: 1rem;
    margin: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    text-align: center;
    transition: 0.1s;
    min-width: 200px;
    width: 100%;
  }

  .product-list__grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 0 1rem;
    padding-bottom: 20px;
  }
}
